.beer {
  display: flex;

  flex-direction: column;
}
.beer img {
  /* height: 200px;
  width: 200px; */

  border-width: 0px;
}

.down {
  color: #ffffff;
  background-color: #e74c3c;
  border: none;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.4;
  border-radius: 4px;
  padding: 10px 15px;
}
.up {
  color: #ffffff;
  background-color: #1abc9c;
  border: none;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.4;
  border-radius: 4px;
  padding: 10px 15px;
}
