.App {
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
}

.tile {
  display: flex;
}
section {
  background: url("https://i.imgur.com/l4MlYc3.gif");
  background-size: cover;
}
